<div class="page-wrapper" *ngIf="!loading">
  <div fxLayout="column" fxLayoutGap="20px" >
    <mat-card *ngIf="initialized">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="250px">
            <h1 class="no-margin" *ngIf="!code">Address</h1>
            <h1 class="no-margin" *ngIf="code">
              <span *ngIf="sep20Contract">SEP 20</span>
              Contract
            </h1>
          </div>

          <div fxFlex="450px" fxLayoutAlign="start center">
            <h3 class="no-margin">
              <strong>
                {{address | address}}
                <a *ngIf="!!ensName" target="_blank" [href]="'https://app.bch.domains/name/' + ensName">{{ensName}}</a>
              </strong>
            </h3>
          </div>
          <div fxFlex="auto">
            <h3 class="no-margin" *ngIf="contractName && contractName !== address">
              {{contractName}}
            </h3>
          </div>

          <div class="ml-2 mr-2" fxFlex="50px" fxLayoutAlign="center center" *ngIf="contract && contract.logo">
            <img class="token-symbol" [src]="'/assets/images/tokens/' + contract.address + '.png' " />
          </div>

          <div class="ml-2 mr-2" fxFlex="50px" fxLayoutAlign="center center" *ngIf="contract && !contract.logo">
            <app-hash-icon [address]="address" [diameter]="64" [type]="'contract'"></app-hash-icon>
          </div>

          <div class="ml-2 mr-2" fxFlex="50px" fxLayoutAlign="center center" *ngIf="!contract">
            <app-hash-icon [address]="address" [diameter]="64" [type]="'address'"></app-hash-icon>
          </div>
        </div>

        <div fxLayout="row"  *ngIf="sep20Contract">
          <div fxLayout="column" fxFlex="300px" fxLayoutGap="5px">
            <strong>SEP 20 Information</strong>
            <div class="pt-2" fxLayout="row">
              <div fxFlex="125px"><strong>Name</strong></div>
              <div fxFlex="auto">{{sep20Contract.name}}</div>
            </div>
            <div fxLayout="row">
              <div fxFlex="125px"><strong>Symbol</strong></div>
              <div fxFlex="auto">{{sep20Contract.symbol}}</div>
            </div>
            <div fxLayout="row">
              <div fxFlex="125px"><strong>Total Supply</strong></div>
              <div fxLayout="row" fxFlex="auto">
                <div class="balance-whole">
                  {{sep20SupplyWhole}}
                </div>
                <ng-container *ngIf="sep20SupplyFraction">
                  <div class="balance-fraction">
                    .{{sep20SupplyFraction}}
                  </div>
                </ng-container>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="125px"><strong>Decimals</strong></div>
              <div fxFlex="auto">{{sep20Contract.decimals}}</div>
            </div>
          </div>
        </div>

        <!-- <div class="my-2" fxLayour="row">
          <h3 *ngIf="contractName">
            <strong>
              {{contractName}}
            </strong>
          </h3>
        </div> -->
        <!-- <h4>{{address}}</h4> -->
        <div class="mt-4" fxLayout="row" fxFlex="100"  fxLayoutAlign="left start">
          <div fxFlex="200px">
            <h3 class="no-margin mr-4">Account balance</h3>
          </div>
          <div fxFlex="300px">
            <div style="width: fit-content">
              <app-general-chip value="{{balance | wei: 'ether'}} BCH"></app-general-chip>
            </div>
          </div>
          <div fxFlex="auto" fxLayoutAlign="end start">
            <app-address-tokens-sep20-list *ngIf="initialized" [address]="address"></app-address-tokens-sep20-list>
          </div>
                    <!-- <h3>Account balance: {{balance | wei: 'ether'}} BCH</h3> -->
        </div>
      </div>
    </mat-card>

    <mat-card *ngIf="initialized">
      <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndex = $event">
        <mat-tab label="Transactions">
          <!-- <h2>Transactions</h2> -->
          <app-address-transactions-list *ngIf="selectedTabIndex === 0" [address]="address"></app-address-transactions-list>
        </mat-tab>
        <mat-tab label="Event Logs" *ngIf="code || isInternalContract">
          <app-event-log [address]="address"></app-event-log>
        </mat-tab>
        <!-- <mat-tab label="SEP20 Tokens">
          <app-address-tokens-sep20-list [address]="address"></app-address-tokens-sep20-list>
        </mat-tab> -->
        <mat-tab label="Contract Code" *ngIf="code">
          <div style="padding: 40px">
            <app-text-area [content]="code"></app-text-area>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>


<!--
    <mat-card *ngIf="code">
      <h2>Event logs</h2>
      <app-event-log [address]="address"></app-event-log>
    </mat-card>

    <app-address-tokens-sep20-list *ngIf="initialized" [address]="address"></app-address-tokens-sep20-list>

    <mat-card *ngIf="code && initialized">
      <pre>{{code}}</pre>
    </mat-card>

    <mat-card *ngIf="notFound">
      <h2>Address {{address}} not found!</h2>
    </mat-card> -->
  </div>
</div>
