<div class="page-wrapper">
  <div fxLayout="column" fxLayoutGap="20px" >
    <mat-card *ngIf="initialized">
        <h2 *ngIf="!code">Address</h2>
        <h2 *ngIf="code">Contract</h2>
        <h4>{{address}}</h4>
        <div>
          Account balance: {{balance | wei: 'ether'}}
        </div>
    </mat-card>

    <mat-card *ngIf="initialized">
      <h3>Transactions</h3>
      <app-address-transactions-list [address]="address"></app-address-transactions-list>
    </mat-card>

    <app-address-tokens-sep20-list *ngIf="initialized" [address]="address"></app-address-tokens-sep20-list>

    <mat-card *ngIf="code && initialized">
      <pre>{{code}}</pre>
    </mat-card>

    <mat-card *ngIf="notFound">
      <h2>Address {{address}} not found!</h2>
    </mat-card>
  </div>
</div>
