<h3>Transaction {{transaction?.hash}}</h3>

<div *ngIf="transaction">
  <div class="row" >
    <div class="left-column">Block</div>
    <div class="middle-column"><a title="{{transaction.blockNumber | hextoint}}" routerLink="/block/{{transaction.blockNumber | hextoint}}"> {{transaction.blockNumber | hextoint}} </a></div>
  </div>

  <div class="row" >
    <div class="left-column">From</div>
    <div class="middle-column">
      {{transaction.from}}
    </div>
  </div>

  <div class="row" >
    <div class="left-column">To</div>
    <div class="middle-column">
      {{transaction.to}}
    </div>
  </div>

  <div class="row" >
    <div class="left-column">Value</div>
    <div class="middle-column">
      {{transaction.value | wei: 'ether'}}
    </div>
  </div>

  <div class="row" >
    <div class="left-column">Gas price</div>
    <div class="middle-column">{{transaction.gasPrice}}</div>
  </div>

  <div class="row" >
    <div class="left-column">Gas</div>
    <div class="middle-column">{{transaction.gas}} bytes</div>
  </div>
</div>
