tr.mat-row, tr.mat-footer-row {
  height: auto;
  min-height: 30px;
}

.label span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.page-label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

mat-paginator.hiderange {
  ::ng-deep .mat-paginator-range-label {
    display: none;
  }
}

.table-wrapper {
  position: relative;
  padding: 2px;
}

.loading-overlay {
  position: absolute;
  background-color: #ffffffe0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  img{
    width: 50px;
  }
}

.loading-indicator-wrapper {
  min-height: 4px;
}

.method {
  font-size: 13px;
  flex-wrap: wrap;
  .name {
    font-weight: bold;
  }

  .param {
    .param-name {
      color: red;
      font-weight: bold;
    }
    .param-type {
      color: blue;
    }
  }
}

textarea {
  width: 100%;
  background-color: #f8fafd;
  border: 1px solid rgba(0,0,0,.2);
  padding: 10px;
  font-family: monospace;
}
