.row {
  display: flex;
  margin: 5px;
}

.left-column {
  min-width: 300px;
}

.middle-column {
  width: 100%;
}
.right-column {
  display: block;
  text-align: end;
  width: 300px;
}

.address, .block {
  display: flex;

  .address-label, .block-label {
    display: table;
    width: 75px;
  }
}

.current-address {
  font-weight: bold;
}

.loader {
  width: 32px;
}

.transaction-wrapper {
  height: 500px;
}