
<span>Page {{page}}</span>
<div *ngIf="!loading">
  <nb-card class="row" *ngFor="let transaction of transactions">
    <nb-card-body>
      <app-default-row *ngIf='transaction.type === "transaction"'  [transaction]="transaction" [address]="address" ></app-default-row>
      <app-contract-call-row *ngIf='transaction.type === "contract-call"'  [transaction]="transaction" [address]="address" >`</app-contract-call-row>
      <app-contract-create-row *ngIf='transaction.type === "contract-create"'  [transaction]="transaction" [address]="address" ></app-contract-create-row>
      <app-erc20-row *ngIf='transaction.type === "erc20-transfer"'  [transaction]="transaction" [address]="address" ></app-erc20-row>
    </nb-card-body>
  </nb-card>
  <div>
    <button *ngIf="hasPreviousPage()" (click)="previousPage()">Previous</button>
    <button *ngIf="hasNextPage()" (click)="nextPage()">Next</button>
  </div>
</div>

<div *ngIf="loading">
  <nb-card class="row" *ngFor="let placeholder of placeholders">
    <nb-card-body>
      <div class="row">
        <div class="left-column">
          <img class="loader" src="assets/images/loader.svg" />
        </div>

        <div class="middle-column">
          <div>
            <span class="address">
              <div class="address-label">
                &nbsp;
              </div>
              &nbsp;
            </span>
          </div>
          <div>
            <span class="block">
              <div class="block-label">
                &nbsp;
              </div>
              &nbsp;
            </span>
          </div>
        </div>

        <div class="right-column">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="transactions && transactions.length === 0 && !loading">
  This address is empty.
</div>