<mat-card *ngIf="sep20contracts && sep20contracts.length > 0">
  <h3>Sep20 Tokens</h3>

  <mat-tab-group (selectedTabChange)="setActiveTab($event)">
    <mat-tab  *ngFor="let contract of sep20contracts" label="{{contract.symbol}}"  >
      <h3 class="py-2">
        {{activeSep20Contract?.name}} ({{activeSep20Contract?.symbol}})
      </h3>

      <h4 class="py-2">
        Balance: {{activeBalance}} {{activeSep20Contract?.symbol}}
      </h4>


      <div class="pt-4" fxLayout="column" *ngFor="let transaction of activeTxs">
        <div fxLayout="row" *ngIf="transaction">
          <div fxFlex="auto">
            <div>
              <span class="address">
                <div class="address-label">
                  Parent Hash
                </div>
                <a title="{{transaction.parentHash}}" routerLink="/transaction/{{transaction.parentHash}}"> {{transaction.parentHash | shorthash}} </a>
              </span>
            </div>
          </div>

          <div fxFlex="auto">
            <div *ngIf="transaction.from === address">
              <span class="address">
                <div class="address-label">
                  Sent
                </div>
                <a routerLink="/address/{{transaction.to}}"> {{transaction.to}} </a>
              </span>
            </div>

            <div *ngIf="transaction.to === address">
              <span class="address">
                <div class="address-label">
                  Received
                </div>
                <a routerLink="/address/{{transaction.from}}"> {{transaction.from}} </a>
              </span>
            </div>

          </div>
          <div fxFlex="auto">
            <div>
              <span *ngIf="transaction.from === address">
                - {{ transaction.convertedValue }} {{activeSep20Contract?.symbol}}
              </span>
            </div>
            <div>
              <span *ngIf="transaction.to === address">
                + {{ transaction.convertedValue }} {{activeSep20Contract?.symbol}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card *ngIf="sep20BalanceList.length > 0">
  <div fxLayout="column" fxFlex="400px" class="token-wrapper">
    <div fxLayout="row">
      <div fxFlex="50%">
        <h3 class="no-margin mb-4">Token balances</h3>
      </div>
      <div fxFlex="50%" fxLayoutAlign="end start" *ngIf="loading">
        <img class="loader" src="/assets/images/loader.svg" />
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" *ngFor="let balance of sep20BalanceList"  fxLayoutAlign="start center">
        <div fxFlex="50px">
          <app-hash-icon [address]="balance.contract.address" [diameter]="32"></app-hash-icon>
        </div>
        <div fxFlex="100px">
          <a routerLink="/address/{{balance.contract.address}}">
            {{balance.contract.symbol}}
          </a>
        </div>
        <div fxFlex="auto">
          {{balance.balance}}
        </div>
        <!-- {{balance | json}} -->
      </div>
    </div>
  </div>
</mat-card>
