:host {
  max-width: 100%;
  overflow: hidden;
}
.row {
  padding-bottom: 10px;
}

.middle-column {
  display: flex;
}

.buttons {
  padding-left: 10px;
}

// .input-data {
//   textarea {
//     width: 100%;
//   }
//   overflow: hidden;
//   overflow-wrap: anywhere;
// }

