:host {
  max-width: 100%;
  overflow: hidden;
}
.row {
  padding-bottom: 10px;
}

.middle-column {
  display: flex;
}

.buttons {
  padding-left: 10px;
}

.title {
  overflow-wrap: anywhere;
  h2 {
    font-weight: 700;
    font-size: 16px;
  }

}

.label {
  font-weight: 700;
}

.address {
  overflow-wrap: anywhere;
}

// .input-data {
//   textarea {
//     width: 100%;
//   }
//   overflow: hidden;
//   overflow-wrap: anywhere;
// }

