<div class="row" *ngIf="transaction">
  <div class="left-column">
    <div>
      <span class="block">
        <div class="block-label">
          Type
        </div>
        {{transaction.type}}
      </span>
    </div>
    <div>
      <span class="address">
        <div class="address-label">
          Hash
        </div>
        <a title="{{transaction.data.hash}}" routerLink="/transaction/{{transaction.data.hash}}"> {{transaction.data.hash | shorthash}} </a>
      </span>
    </div>
    <div>
      <span class="block">
        <div class="block-label">
          Block
        </div>
        <a title="{{transaction.data.blockNumber | hextoint}}" routerLink="/block/{{transaction.data.blockNumber | hextoint}}"> {{transaction.data.blockNumber | hextoint}} </a>
      </span>
    </div>

  </div>

  <div class="middle-column">
    <div>
      <span class="address" [class.current-address]="transaction.data.from === address">
        <div class="address-label">
          From
        </div>
        <a routerLink="/address/{{transaction.data.from}}"> {{transaction.data.from}} </a>
      </span>
    </div>
    <div *ngIf="transaction.type !== 'contract-create'">
      <span class="address" [class.current-address]="transaction.data.to === address">
        <div class="address-label">
          To
        </div>
        <a routerLink="/address/{{transaction.data.to}}"> {{transaction.data.to}} </a>
      </span>
    </div>
    <div *ngIf="transaction.type === 'contract-create' && transaction.receipt?.contractAddress">
      <span class="address" [class.current-address]="transaction.data.to === address">
        <div class="address-label">
          Contract
        </div>
        <a routerLink="/address/{{transaction.receipt?.contractAddress}}"> {{transaction.receipt?.contractAddress}} </a>
      </span>
    </div>
  </div>

  <div class="right-column">
    <div>
      <span *ngIf="transaction.data.value">
        Value: {{ transaction.data.value | hextoint | wei: 'ether' }}
      </span>
    </div>
    <div>
      <span *ngIf="transaction.data">
        TxFee: {{ transaction.txFee + '' | wei: 'ether' }} sBCH
      </span>
    </div>
  </div>
</div>