.mat-cell, .mat-header-cell {
  padding: 0 5px;
}

.swatch {
  position: relative;
  left: -22px;
  height: 43px;
  padding: 1px 0;
  display: inline-table;
  width: 5px;
  border-radius: 4px
}

.warn-icon {
  position: absolute;
  left: 32px;
  font-size: 20px;
}

