<nb-card *ngIf="erc20contracts.length > 0">
  <nb-card-body>
    <h3>ERC 20 Tokens</h3>

    <nb-tabset (changeTab)="setActiveTab($event)">
      <nb-tab active *ngFor="let contract of erc20contracts" tabTitle="{{contract.symbol}}"  >
        <h4>
          Balance: {{activeBalance}} {{activeErc20Contract?.symbol}}
        </h4>

        <nb-card class="row" *ngFor="let transaction of activeTxs">
          <nb-card-body>
            <!-- <pre>
              {{transaction | json}}
            </pre> -->
            <div class="row" *ngIf="transaction">
              <div class="left-column">
                <div>
                  <span class="address">
                    <div class="address-label">
                      Parent Hash
                    </div>
                    <a title="{{transaction.parentHash}}" routerLink="/transaction/{{transaction.parentHash}}"> {{transaction.parentHash | shorthash}} </a>
                  </span>
                </div>
              </div>

              <div class="middle-column">
                <div *ngIf="transaction.from === address">
                  <span class="address">
                    <div class="address-label">
                      Sent
                    </div>
                    <a routerLink="/address/{{transaction.to}}"> {{transaction.to}} </a>
                  </span>
                </div>

                <div *ngIf="transaction.to === address">
                  <span class="address">
                    <div class="address-label">
                      Received
                    </div>
                    <a routerLink="/address/{{transaction.from}}"> {{transaction.from}} </a>
                  </span>
                </div>

              </div>
              <div class="right-column">
                <div>
                  <span *ngIf="transaction.from === address">
                    - {{ transaction.convertedValue }} {{activeErc20Contract?.symbol}}
                  </span>
                </div>
                <div>
                  <span *ngIf="transaction.to === address">
                    + {{ transaction.convertedValue }} {{activeErc20Contract?.symbol}}
                  </span>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>

      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>