<div class="header-wrapper">
  <app-top-navigation></app-top-navigation>
</div>

<div class="page-wrapper">
  <mat-card class="donation-message mb-3" *ngIf="!dismissDonation">
    <div fxLayout="row" >
      <div fxFlex="auto">
        <div class="title" fxLayoutAlign="start end">
          <strong>
            Please consider a small donation to support the future development of SmartScan.
          </strong>
        </div>
      </div>
      <div fxFlex="10%" fxLayoutAlign="end" fxLayoutAlign="end" (click)="dismissDonationMessage()">
        <mat-icon class="close-button">highlight_off</mat-icon>
      </div>
    </div>
    <div class="message">
      <div class="pt-2">
        Thank you very much for your support!
      </div>

      <div class="pt-2">
        <strong>0x3061cA0fa50F96db071D433F9d8eDF5Cf56392FA</strong>
      </div>
    </div>
  </mat-card>
  <router-outlet></router-outlet>
</div>

<div class="footer mat-elevation-z3">
  <app-footer></app-footer>
</div>

<!-- <nb-layout *ngIf="!session?.initialized">
  <nb-layout-column>
    <div  class="initialize-wrapper" >
      <nb-card class="loader" [nbSpinner]="true" nbSpinnerStatus="basic">
        <img class="image fade-in" *ngIf="true || !session || !session.apiOffline" src="assets/images/logo.png" />
      </nb-card>
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>
</nb-layout> -->
