<h3 *ngIf="blocknumber">Transactions in block {{blocknumber}}</h3>
<div *ngFor="let transaction of transactions">
  <nb-card class="row">
    <nb-card-body>
      <div class="row">
        <div class="left-column">
          <div>
            <b>
              #{{transaction.transactionIndex | hextoint}}
            </b>
          </div>
          <div>
            <span class="address">
              <div class="address-label">
                Hash
              </div>
              <a title="{{transaction.hash}}" routerLink="/transaction/{{transaction.hash}}"> {{transaction.hash | shorthash}} </a>
            </span>
          </div>
        </div>

        <div class="middle-column">
          <div>
            <span class="address">
              <div class="address-label">
                From
              </div>
              <a routerLink="/address/{{transaction.from}}"> {{transaction.from}} </a>
            </span>
          </div>
          <div>
            <span class="address">
              <div class="address-label">
                To
              </div>
              <a routerLink="/address/{{transaction.to}}"> {{transaction.to}} </a>
            </span>
          </div>
        </div>

        <div class="right-column">
          <div>
            <span *ngIf="transaction.value">
              Value: {{ transaction?.value | hextoint | wei: 'ether' }}
            </span>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="transactions && transactions.length === 0">
  This block is empty.
</div>