.small-text {
  font-size: 11px;
}


h4, h3 {
  margin-bottom: 0;
}


textarea {
  width: 95%;
  background-color: #f8fafd;
  border: 1px solid rgba(0,0,0,.2);
  padding: 10px;
  margin: 20px;
  font-family: monospace;
  max-height: 500px;
}
