<!-- <div class="home-hero">
  <div class="page-wrapper">
  <nb-card>
    <nb-card-body>
      <app-latest-blocks></app-latest-blocks>
    </nb-card-body>
  </nb-card>
  </div>
</div> -->

<div class="page-wrapper">
  <div fxLayout="column" fxLayoutGap="20px" >
    <mat-card class="mat-elevation-z3">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <img class="block-logo" src="assets/images/cube-svgrepo-com.svg" /><h1 class="no-margin">Latest blocks</h1>
      </div>
      <app-latest-blocks></app-latest-blocks>
    </mat-card>

    <mat-card class="mat-elevation-z3">
      <h1>Latest transactions</h1>
      <app-latest-transactions [refresh]="true"></app-latest-transactions>
    </mat-card>

    <mat-card *ngIf="linkedAddress" class="mat-elevation-z3">
      <h1>Linked Metamask Account: <a routerLink="/address/{{linkedAddress}}">{{linkedAddress}}</a> </h1>
      <app-address-transactions-list [address]="linkedAddress" [refresh]="true"></app-address-transactions-list>
    </mat-card>
  </div>
</div>
