<div class="page-wrapper">
  <div fxLayout="column" fxLayoutGap="20px" >
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card fxFlex="50" class="mat-elevation-z3">
        <app-search></app-search>
      </mat-card>
    </div>
    <mat-card class="mat-elevation-z3">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <img class="block-logo" src="assets/images/cube-svgrepo-com.svg" /><h1 class="no-margin">Latest blocks</h1>
      </div>
      <app-latest-blocks></app-latest-blocks>
    </mat-card>

    <mat-card class="mat-elevation-z3">
      <h1>Latest transactions</h1>
      <app-latest-transactions [refresh]="true"></app-latest-transactions>
    </mat-card>

    <mat-card *ngIf="linkedAddress" class="mat-elevation-z3">
      <div fxLayout="row">
        <div class="mr-4">
          <h1>Linked Metamask Account</h1>
        </div>

        <div fxFlex="auto" fxLayoutAlign="end start">
          <h3><a routerLink="/address/{{linkedAddress}}">{{linkedAddress}}</a></h3>
        </div>
        <div class="ml-2">
          <app-hash-icon [address]="linkedAddress" [diameter]="32" type="address"></app-hash-icon>
        </div>
      </div>

      <app-address-transactions-list [address]="linkedAddress" [refresh]="true"></app-address-transactions-list>
    </mat-card>
  </div>
</div>
