<div fxLayout="row" class="mt-2 pt-2">
  <div fxFlex="25%" fxLayoutAlign="start center" class="px-2">
    <a href="https://www.smartbch.org">
      <img class="smartbch-logo" src="assets/images/text_logo.png" />
    </a>
  </div>

  <div fxFlex="50%">
    <div>
      SmartScan, a <a href="https://www.smartbch.org">SmartBCH</a> block explorer
    </div>
    <div class="version pt-2">
      <div>
        BETA v0.0.13 (08012021)
      </div>
      <div>
        <a href="http://37.97.193.47/">Funded by the BCH community</a>
      </div>
    </div>
  </div>

  <div fxFlex="25%" class="links" fxLayoutAlign="end center">
    <a title="smartBCH Community Chat" href="https://t.me/smartbch_community">
      <img class="telegram" src="assets/images/telegram_logo.svg" />
    </a>

    <a href="https://github.com/jay-bch/smartbch-explorer">
      <img class="github" src="assets/images/github_logo.svg" />
    </a>

    <a href="https://twitter.com/SmartBCHScan">
      <img class="twitter" src="assets/images/twitter_logo.svg" />
    </a>
  </div>
</div>


<!--
<div>
  Brought to you by JayDizzz, funded by the BCH community
</div> -->


