:host {
  color:rgb(73, 73, 73);
  max-width: 1400px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.version {
  font-size: 11px;
  color: rgb(173, 173, 173)
}

.smartbch-logo {
  width: 150px;
}


.links {
  img {
    width: 30px;
    padding: 5px;
  }


}
