
.logo {
  width: 100px;
}

.smartscan-logo {
  width: 27px;
  height: 27px;
}


.example {
  margin-top: 10px;
  font-size: 12px;
}

.form {
  min-width: 500px;
}


.endpoint-input {
  min-width: 500px;
}

h1 {
  margin: 0;
  font-weight: 600;
}
