<!-- <mat-card>
  <nb-card-header><img class="image logo" src="assets/images/text_logo.png" /></nb-card-header>
  <nb-card-body>
    <form [formGroup]="endpointForm">
      <input type="text" nbInput fullWidth status="basic" placeholder="wss://" formControlName="endpoint">
      <div class="example">Example: wss://smartbch-wss.greyh.at</div>
    </form>

  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success" (click)="updateEndpoint()">
      Connect
    </button>
  </nb-card-footer>
</mat-card> -->


<div class="modal-wrapper" fxLayout="column" >
  <div class="pb-4" fxLayout="row" fxFlex="100%">
    <div fxFlex="50%" fxLayout="row" fxLayoutAlign="start center">
      <img class="image smartscan-logo pr-2" src="assets/images/logo_smartscan.png" />
      <h1>SmartScan</h1>
    </div>
    <div fxFlex="50%" fxLayoutAlign="end center">
      <img class="image logo" src="assets/images/text_logo.png" />
    </div>
  </div>

  <h5 class="pb-4 warning-color" matTooltip="{{error}}" *ngIf="error">
    <div>
      An error occurred connecting to <strong>{{errorNodeUrl}}</strong>.
    </div>
    <div>
      Check the address and try again.
    </div>
  </h5>
  <div mat-dialog-content>
    <form [formGroup]="endpointForm">
      <div fxLayout="column">
        <mat-form-field class="endpoint-input" appearance="fill">
          <mat-label>Select node</mat-label>
          <mat-select formControlName="endpointSelect" name="endpointSelect">
            <mat-option *ngFor="let node of nodes" [value]="node">
              <strong>{{node.network}}</strong> - {{node.apiEndpoint}}
            </mat-option>

            <mat-option [value]="customNodeOption">
              Custom node
            </mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field class="endpoint-input" appearance="fill" *ngIf="showCustomInput">
          <mat-label>Enter Node RPC URL</mat-label>
          <input type="text" matInput formControlName="endpointCustom" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.apiEndpoint">
              {{option.apiEndpoint}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="example pb-4" *ngIf="showCustomInput">Example: {{nodes[0].apiEndpoint}}</div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="updateEndpoint()" [disabled]="showCustomInput && !endpointCustom.value" cdkFocusInitial>Connect</button>
  </div>
</div>
