


nb-card {
  min-width: 400px;
  max-width: 600px;
  max-height: 500px;
  border: 5px solid #C7E351;
  border-radius: 10px;
}

.image.logo {
  width: 100px;
}

.example {
  margin-top: 10px;
  font-size: 12px;
}