<div class="header mat-elevation-z3">
  <div class="page-wrapper" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
    <div fxFlex="50px" fxLayoutAlign="start center" routerLink="/" class="cursor-pointer">
      <img class="logo" src="assets/images/logo_smartscan.png" />
    </div>
    <div fxHide fxShow.gt-sm fxFlex="150px" routerLink="/" class="headline cursor-pointer">
      <h1>SmartScan</h1>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxFlex="100%"
    >
      <div
      fxFlex="100%"
      fxFlex.gt-sm="auto"
      fxLayoutAlign="center center">
        <div
          fxFlex="100%"
          fxFlex.gt-sm="75%"
          class="pt-3"
        >
          <app-search></app-search>
        </div>
      </div>
      <div
        fxHide
        fxShow.gt-sm
        fxFlex="50px"
        fxLayoutAlign="center center"
      >
        <app-meta-mask-connect></app-meta-mask-connect>
      </div>

      <div
        fxLayout="row"
        fxLayout.gt-sm="column"
        fxLayoutAlign="end center"
        fxLayoutAlign.gt-sm="center end"
      >
        <div
          fxHide
          fxShow.gt-sm
        >
          <app-height-ticker></app-height-ticker>
          <a class="disconnect" href="#" (click)="disconnectFromNode()">Switch node</a>
        </div>

        <!-- <div
          fxShow
          fxHide.gt-sm
          class="disconnect-mobile"
        >
          <button class="disconnect" href="#" (click)="disconnectFromNode()">Switch node</button>
        </div> -->
      </div>
    </div>

  </div>
</div>
<!--
<div class="section left">
  <div>
    <a [routerLink]="['/']">
      <img class="image logo" src="assets/images/text_logo.png" />
    </a>
  </div>
</div>

<div class="section middle">
</div>

<div class="section right">
  <app-meta-mask-connect></app-meta-mask-connect>
  <div>
    <app-bch-ticker></app-bch-ticker>
    <a href="#" (click)="disconnectFromNode()">Switch node</a>

  </div>
</div> -->
