<div fxLayout="row" fxFlex="auto" fxLayoutAlign="start center" class="method-chip py-1 px-3 mr-2" [ngClass]="method">


  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="method === 'transaction'">
    <mat-icon class="pr-2" >compare_arrows</mat-icon>
    <div>Transfer</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="method === 'contract-create'">
    <mat-icon class="pr-2">dashboard_customize</mat-icon>
    <div >
      New Contract
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="method === 'contract-call'">
    <mat-icon class="pr-2">input</mat-icon>
    <div>
      Call Contract
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="method === 'sep20-transfer'">
    <mat-icon class="pr-2">monetization_on</mat-icon>
    <div>
      SEP20 Transfer
    </div>
  </div>
</div>
